@page "/leaderboard"
@using System.Text.RegularExpressions

@inject User UserService
@inject CredentialsService Credentials

<h3>Leaderboard - <a href="https://keepthescore.com/board/@(Credentials.GetLeaderboardKey())/">KeepTheScore</a></h3>

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Player ID</th>
            <th scope="col">Username</th>
            <th scope="col">Score</th>
        </tr>
    </thead>
    <tbody>
        @foreach (User player in PlayerList)
        {
            /*
             * Checks if user matches a player in the list to add a highlight.
             * Blazor seems to sanitize the username automatically, but, just to be safe,
             * I ensure the rules are applied in-case created without use of the application.
            */
            <tr class="@(player.ID == UserService.ID ? "bg-opacity-25 bg-success" : "")">
                <td>@player.ID</td>
                <td>@(Regex.Replace(@player.Username, @"[^a-zA-Z0-9]+", ""))</td>
                <td>@((player.Score / 100 / 10F).ToString("0.0s"))</td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Inject] protected ILeaderboardService LeaderboardService { get; set; }

    public List<User> PlayerList = new List<User>();

    protected override async Task OnInitializedAsync()
    {
        PlayerList = await LeaderboardService.GetLeaderboard();
    }
}
